In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('C:/Users/ekans/Downloads/archive/PopularMovies.csv')

In [3]:
df

,Unnamed: 0,Movie_Names,Ratings,Released_Year,Movie_Link,Votes,Metascore,Userreviews,Criticreviews
0,0,The Shawshank Redemption,9.2,1994,https://www.imdb.com/title/tt0111161/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">2.8M</div>",82,10.9K,173
1,1,The Godfather,9.2,1972,https://www.imdb.com/title/tt0068646/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">1.9M</div>",100,5.4K,203
2,2,The Dark Knight,9.0,2008,https://www.imdb.com/title/tt0468569/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">2.7M</div>",84,8.5K,448
3,3,The Godfather Part II,9.0,1974,https://www.imdb.com/title/tt0071562/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">1.3M</div>",90,1.3K,136
4,4,12 Angry Men,9.0,1957,https://www.imdb.com/title/tt0050083/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">815K</div>",97,2K,165
...,...,...,...,...,...,...,...,...,...
245,245,The Help,8.0,2011,https://www.imdb.com/title/tt1454029/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">473K</div>",62,667,299
246,246,Life of Brian,8.0,1979,https://www.imdb.com/title/tt0079470/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">409K</div>",77,458,127
247,247,The Iron Giant,8.0,1999,https://www.imdb.com/title/tt0129167/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">210K</div>",85,635,144
248,248,Aladdin,8.0,1992,https://www.imdb.com/title/tt0103639/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">438K</div>",86,397,152
249,249,Dances with Wolves,8.0,1990,https://www.imdb.com/title/tt0099348/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">277K</div>",72,589,96

In [4]:
df.head()

,Unnamed: 0,Movie_Names,Ratings,Released_Year,Movie_Link,Votes,Metascore,Userreviews,Criticreviews
0,0,The Shawshank Redemption,9.2,1994,https://www.imdb.com/title/tt0111161/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">2.8M</div>",82,10.9K,173
1,1,The Godfather,9.2,1972,https://www.imdb.com/title/tt0068646/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">1.9M</div>",100,5.4K,203
2,2,The Dark Knight,9.0,2008,https://www.imdb.com/title/tt0468569/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">2.7M</div>",84,8.5K,448
3,3,The Godfather Part II,9.0,1974,https://www.imdb.com/title/tt0071562/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">1.3M</div>",90,1.3K,136
4,4,12 Angry Men,9.0,1957,https://www.imdb.com/title/tt0050083/?pf_rd_m=...,"<div class=""sc-bde20123-3 bjjENQ"">815K</div>",97,2K,165

In [5]:
high_reviews = (df['Userreviews']>'7K')

In [6]:
df.loc[high_reviews,['Movie_Names','Ratings']]

                                     Movie_Names  Ratings
2                                The Dark Knight      9.0
10           Spider-Man: Across the Spider-Verse      8.8
21                                 Seven Samurai      8.6
44                        Grave of the Fireflies      8.5
46                              The Intouchables      8.5
48                  Once Upon a Time in the West      8.4
50                                   Rear Window      8.4
78                             Avengers: Endgame      8.3
79                             Princess Mononoke      8.3
81                   Once Upon a Time in America      8.3
83                                      3 Idiots      8.3
88                                   Toy Story 3      8.3
89    Star Wars: Episode VI - Return of the Jedi      8.3
105                            Full Metal Jacket      8.2
115                            L.A. Confidential      8.2
118                                       Snatch      8.2
147              Monty Python and the Holy Grail      8.1
159                           Gone with the Wind      8.1
171                                      Warrior      8.1
179                                        Klaus      8.1
181                             12 Years a Slave      8.1
206                                         Room      8.1
212                                        Rocky      8.0
213                                  Ratatouille      8.0
224                             The Wizard of Oz      8.0
230                                Groundhog Day      8.0

In [7]:
specific_rating = [9.0,9.1]
filt1 = df['Ratings'].isin(specific_rating)

In [8]:
df.loc[filt1,'Movie_Names']

2          The Dark Knight
3    The Godfather Part II
4             12 Angry Men
Name: Movie_Names, dtype: object

In [1]:
df['Ratings']